.buttonPauseContainer {
    .buttonPause {
        display: inline;
        position: absolute;
        right: 30px;
        height: 100px;
    }
}
.menuPause {
    .modal-content {
        background-color: #966F33;
    }
    .menuOptions {
        height: 100px
    }
}
